# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug

test-io.exe

*.ilk
*.pdb

*.obj

*.idb

*.user

*.suo

*.sdf

/debugger/*.opensdf
